* {
  box-sizing: border-box;
}

body {
  background: rgb(105, 161, 135);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
  margin: 0 10rem;
  background: rgb(214, 255, 255);
  border-radius: 1rem;
  box-shadow: 5px 5px gray;
  padding: 2rem;
}

#page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.branding {
  margin-right: auto;
  height: 5rem;
}
.nav-menu {
  height: 4rem;
  background-color: rgb(147, 159, 185);
}

.branding img {
  width: auto;
  height: inherit;
}

.nav {
  display: inline;
  font-size: 2rem;
  text-decoration: underline;
  padding: 1em;
}

.progress {
  height: 30px;
  border-color: grey;
  border-style: solid;
  margin: auto;
}
.progress-level,.progress-level2,.progress-level3,.progress-level4{
    background-color: blue;
    width:5%;
    height: 100%;
    animation: prog 2s linear forward;
}
.progress-level2{
    width:35%;
}
.progress-level3{
        width:65%;
    }
.progress-level4{
     width:90%;
  }

form {
  
  margin:auto;
  background:whitesmoke;
  padding:2rem;
}
label {
  display: inline-block;
  width: 10rem;
  margin-left: 2rem;
  margin-right: 0.5rem;
  text-align: right;
  font-weight: 700;
}
input, select {
  display: inline-block;
  width:30%;
}

.shipping-address{
    margin-top: 5rem;
}
.hidden_form{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.checkbox_size{
    display: inline-block;
  width:10%;
  transform: scale(3);
  margin: 20px;
}


.input_area-label{
    vertical-align: top;
    display:inline-block;
    text-align: left;
    width:12rem;
    text-align: left;
    margin:0;
 }


textarea {
  width: 80%;
}

.subtext{
    font-size: 0.8rem;
    text-align: left;
    margin-left:3.5rem;
}

footer{
    vertical-align: bottom;
    text-align: end;
}

.next_button {
    font: bold 1.5rem Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 1rem 1.5rem;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    box-shadow: 2px 2px gray;
  }

  
.next_button:hover {
    background-color:  #333333;
    color: #EEEEEE;
    box-shadow: 2px 2px gray;
  }
 

input[type="checkbox"]:checked ~ div {
  display: none;

}

input[type="checkbox"]:checked ~ p {
    transform: translateY(-6rem);
    
  }

input[type="checkbox"]:not(:checked) + p {
  display: none;
}
/*-----------------------------step3-------------*/
#categories {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1em;
  grid-auto-rows: minmax(50px, auto);
  text-align: center;
  width: 50%;
}

#items_image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(150px, auto);
  text-align: center;
  width: 70%;
}
.items {
  width: 100%;
  height: 200px;
}

/*---------------thanks page------------------------*/
.thanks img {
  width: 60%;
  text-align: center;
}
